@model IEnumerable<EmployeeMVC_Consume.ViewModels.EmployeeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
   <a asp-action="Create" class="btn btn-primary">Create New Employee</a>
</p>

<table class="table table-bordered">
   <thead>
      <tr>
         <th>Name</th>
         <th>Position</th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody>
      @foreach (var item in Model)
      {
         <tr>
            <td>@item.Name</td>
            <td>@item.Position</td>
            <td>
               <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
               <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
         </tr>
      }
</table>